<% if logged_in? %>
 <div class="row">
   <aside class="col-md-4">
      <%= form_for(@micropost) do |f| %>
       <div class="form_group">
         <%= f.text_area :content, class: "form-control",rows: 5 %>
       </div>
       <%= f.submit "Post", class: "btn btn-primary btn-block" %>
      <% end %>
   </aside>
   <div class="col-xs-8">
    <ul class="nav nav-tabs nav-justified">
      <li class="<%= "active" if current_page?(root_path) %>"><%= link_to "Time_line",root_path %></li>
      <li class="<%= "active" if current_page?(likes_user_path(@current_user)) %>"><%= link_to likes_user_path(@current_user) do %>Like_posts<span class="badge"><%= @count_like_posts %></span><% end %></li>
    </ul>
    <%= render "microposts/microposts_for_like", microposts: @like_posts %>
   </div>
 </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Microposts</h1>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
  
<% end %>